/*Tags without classes*/
body{
    margin:0;
    font-family: 'VT323', monospace;
    background:#eee;
}
hr{
    border-color: #fff;
}
a{
    text-decoration: none;
    color:#aaf;
}
a:hover{
    color:#88f;
}
/*Main Screen*/
#content{
    display: flex;
    font-size: 120%;
}
#content > div:nth-child(1)
{
    width: 25%;
    font-size: 200%;
    text-align: center;
    background:#fee;
    border: 1px 0;
    border-color: #faa;
    border-style: outset;
}
#oPoints
{
    width: 75%;
    font-size: 200%;
    text-align: center;
    background:#fee;
    border: 5px;
    border-color: #faa;
    border-style: outset;
    margin-left: auto;
    margin-right: auto;
    text-decoration: underline;
}
#content > div:nth-child(3)
{
    width: 25%;
    font-size: 200%;
    text-align: center;
    background:#efe;
    border: 1px 0;
    border-color: #afa;
    border-style: outset;
}
#xPoints
{
    width: 75%;
    font-size: 200%;
    text-align: center;
    background:#efe;
    border: 5px;
    border-color: #afa;
    border-style: outset;
    margin-left: auto;
    margin-right: auto;
    text-decoration: underline;
}
.mainScreen{
    width:50%;
    height:100vh;
    margin: 0;
    background: #88c;
    padding:2.5%;
}
p.title{
    margin:0
}
#title{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 0.575rem;
    border-color: #aaf;
    border-style: inset;
    background:#eef;
    margin:0;
}
p#turn{
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}
p#noTurn{

    text-align: center;
    font-size: 150%;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px 0;
    border-color: #aaf;
    border-style: outset;
    background:#eef;
    margin: 0;
 }

p#circle{
    text-align: center;
    font-size: 1.125rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px 0;
    border-color: #faa;
    border-style: outset;
    background:#fee;
    margin: 0;
}
p#circle:hover{
    background:#faa;
}
p#cross{
    text-align: center;
    font-size: 1.125rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px 0;
    border-color: #afa;
    border-style: outset;
    background:#efe;
    margin: 0;
}
p#cross:hover{
    background:#afa;
}
/*Cells*/
.cells{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(9.525rem, auto)
     minmax(9rem, auto) minmax(9.525rem, auto);
    margin: 1rem auto;
    padding: 0 3rem;
}
div.cells > div {
    text-align: center;
    color:#000;
    border: 0.15rem #000 solid;
    background:#fff;
    padding-top: 3rem;
    font-size: 3rem;
}
div.cells > div > span{
    color:#efefef;
}
/*Footer*/
div#footer{
    margin-top: 1rem;
    text-align: center;
    color: #aaf;
    font-size: 1.25rem;
}
/*BUTTON*/
.btn{
    font-family: 'VT323', monospace;
    width:75%;
    font-size: 150%;
    height: 4rem;
    margin-left: 12.5%;
    margin-top: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 3px;
    border-color: #aaf;
    border-style: outset;
    background: #eef;
}

.btn:hover{
    font-family: 'VT323', monospace;
    width:75%;
    font-size: 150%;
    height: 4rem;
    margin-left: 12.5%;
    margin-top: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 3px;
    border-color: #aaf;
    border-style: outset;
    background: #aaf;
}
.btn:active{
    font-family: 'VT323', monospace;
    width:75%;
    font-size: 150%;
    height: 4rem;
    margin-left: 12.5%;
    margin-top: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 3px;
    border-color: #aaf;
    border-style: outset;
    background: #88f;
}