$playScreenWidth: 75vw;
$playScreenHeight: 70vh;
body{
    background-color: #222;
    font-family: 'VT323', monospace;
    p{
        font-size: 42px;
        padding:0 3rem;
        background: #333;
        span{
            margin-left: 1.575rem;
            font-size: 32px;
            text-decoration: underline;
        }
    }
}

#mainScreen{
    width: $playScreenWidth;
    height: $playScreenHeight;
    background-color: #666;
    margin-left: auto;
    margin-right: auto;
    border:solid #444 1px;
}
#scoreBoard{
    background-color: #444;
    color: #fff;
    width: $playScreenWidth;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right:0;
    width:25%;
    z-index: 1;
}
canvas {
    background:#eee;
    //width:100%;
    //height:auto;
    display:block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    left:10%;
    z-index: 2;
  }